In [1]:
pwd

'C:\\Users\\ABC\\3. Edureka'

In [54]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import os
from sklearn.metrics import r2_score

In [24]:
pwd

'C:\\Users\\ABC'

In [27]:
os.chdir("C:\\Users\\ABC\\6. Datasets")

In [32]:
df = pd.read_csv("BostonHousing.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [37]:
x = df.iloc[:,0:13]
y = df['medv']

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=55, test_size = 0.8)

In [42]:
lm = LinearRegression()

In [48]:
model = lm.fit(x_train, y_train)

In [50]:
y_predict = lm.predict(x_test)

In [53]:
results = pd.DataFrame({'y_test' : y_test, 'y_predict' : y_predict })
results.head()

     y_test  y_predict
326    23.0  24.140149
128    18.0  18.642866
358    22.7  22.180678
348    24.5  29.274681
249    26.2  25.556106

In [55]:
r2 = r2_score(y_test, y_predict)
r2

0.6821037918363928